@media (max-width: 1366px) {
    .img-cv {flex: 1;}
    .info-cv {flex: 2;}
    img {
        width: 80%;
    }
}

@media (max-width: 1066px) {
    .header .container .row {
        flex-direction: column;
    }

    img {
        width: 500px !important;
    }

    .info-cv {
        margin-top: 20px;
    }

    .info-item {
        flex-direction: column !important;
    }
    .personal-info-item {width: 100% !important;}
    .personal-info-item label {flex: 1 !important;}
    .personal-info-item span {float: 2 !important;}

}

@media ( max-width: 900px ) {
    .skill-row {
        flex-direction: column !important;
    }

    .skill-left {
        width: 100% !important;
    }
    .skill-right {
        margin-top: 120px;
        width: 100% !important;
    }

    .edu-row {
        flex-direction: column !important;
    }

    .edu-table {
        width: 100%;
    }
    .edu-table:last-child {
        margin-top: 120px;
    }
}

@media (max-width: 860px) {
    .info-item {
        flex-direction: column !important;
    }
    .personal-info-item {width: 100% !important;}
    .personal-info-item label {flex: 1 !important;}
    .personal-info-item span {float: 2 !important;}
}

@media (max-width: 610px) {
    img {
        width: 80% !important;
    }

    .info-cv {
        margin-top: 100px !important;
    }
}
@media (max-width: 570px) {
    .contact-item .contact-div p {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
}

@media (max-width: 550px) {
    .personal-info-item:fourth-child span {
        word-wrap: break-word !important;
        height: 36px;
    }
}